.button {
  width: 100px;
  height: 70px;
  background-color: dodgerblue;
  color: white;
  font-size: 24px;
  margin: 10px;
  font-weight: bold;
  border-radius: 10px;
}

.equalButton{
  width: 340px;
  height: 70px;
  background-color: tomato;
  color: white;
  font-size: 24px;
  margin: 10px;
  font-weight: bold;
  border-radius: 10px;
}

.textArea {
  width: 550px;
  height: 100px;
  font-size: 50px;
  border-radius: 10px;
  font-weight: bold;
}

.textInput {
  width: 200px;
  height: 70px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  margin-right: 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
