.button {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #f48c06;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
}

.textArea {
  width: 98%;
  height: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.equalButton {
  background-color: #0ead69;
  color: #000;
}

.yellow {
  background-color: #ffba08;
  color: #000;
}

.gray {
  background-color: #8d99ae;
  color: #000;
}

.red {
  background-color: tomato;
}

.textDateInput {
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  margin-right: 20px;
  color: black;
}

h2 {
  color: white;
}

.output {
  color: white;
  width: 250px;
  margin-bottom: 10px;
}

.answer {
  width: 300px;
  height: 50px;
  background-color: #ffba08;
  color: white;
  margin-bottom: 10px;
}

.textInput {
  width: 70px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  margin-right: 16px;
  color: white;
}

.answer-row {
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .button {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    margin: 2px;
  }

  .answer {
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
  }

  h2 {
    margin-right: 10px;
  }

  .textArea {
    width: 400px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .keypad-row {
    display: flex;
    justify-content: center;
  }

  .answer-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .button {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
  }

  .textArea {
    width: 500px;
    font-size: 24px;
    font-weight: bold;
  }

  .answer {
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1400px) {
  .button {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 24px;
    margin: 5px;
  }

  .textArea {
    width: 700px;
    height: 70px;
    font-size: 30px;
  }

  .answer {
    width: 300px;
    height: 70px;
    margin-bottom: 10px;
  }

  .textDateInput {
    height: 70px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px;
    color: black;
  }

  .output {
    color: white;
  }
}
